@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(204, 43%, 93%);
  padding: 2rem;

}

.container {
  background-color: hsl(0, 0%, 100%);
  max-width: 400px;
  border-radius: 0.3rem;
  overflow: hidden;
}

.container__community,
.container__subscription, 
.container__why-us{
  padding: 2rem;
  width: 100%;
}

.container__community h1{
  color: var(--cyan);
  font-size: 1.7rem;
  font-weight: 700;
}
.container__community h2{
  color: var(--bright-yellow);
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.9rem 0;
}
.container__community p{
  color: var(--grayish-blue);
  font-size: 1rem;
  line-height: 1.5rem;
}

.container__subscription {
  background-color: var(--cyan);
  color: var(--light-gray);
  
}

.container__subscription h2{
  font-size: 1.4rem;
  font-weight: 700;
}

.container__dollar {
  padding: 0.9rem 0 0.8rem 0;
  font-size: 2rem;
  font-weight: 700;
  vertical-align: text-top;
  display: flex;
  align-items: center;
}

.container__subscription span{
  color:hsla(203, 44%, 93%, 0.647);
  font-size: 1rem;
  font-weight: normal;
  padding-left: 1rem;
}

.container__description{
  font-size: 1.1rem;
}

.container__sign-up{
  display: block;
  text-decoration: none;
  color: var(--light-gray);
  background-color: var(--bright-yellow);
  padding: 0.7rem 0.9rem;
  font-weight: 700;
  border-radius: 0.3rem;
  margin-top: 1rem;
  text-align: center;
}

.container__why-us {
  background-color: hsla(179, 62%, 43%, 0.842);
  color: var(--light-gray);
}

.container__why-us h2 {
  font-size: 1.4rem;
  font-weight: 700;
  padding-bottom: 1.2rem;
}

.container__why-us ul {
  list-style: none;
  color: hsla(203, 44%, 93%, 0.747);
}


.container__why-us li {
  padding: 0.3rem 0;
}

@media screen and (min-width: 700px) {
  .container {
    max-width: 600px;

  }
  .container__part2 {
    display: flex;
   
  }

  .container__description{
    font-size: 0.95rem;
  
  }

  .container__subscription{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .container__part2 > div {
    max-height: 16.5rem;
  }

  .container__why-us li {
    padding: 0.1rem 0;
  }
}